body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    font-size: 28px;
    padding: 10px 110px;
}

.container{
	margin: auto;
	display: block;
}

.intro {
    background:  url('img/photo-15.avif') no-repeat center center;
    background-size: cover;
    padding: 150px 0px; 
    text-align: center;
    color: #f06767;
    margin-bottom: 10px;
}

.intro h1 {

    text-transform: uppercase;
    font-size: 3em;
    color: #ff004c;
}

.intro h1::after{
    content: '';
    display: block;
    width: 420px;
    height: 2px;
    background: #ff004c;
    margin: 10px auto;
}

.intro p {
    font-style: arial;
    font-size: 1.145em;
    font: bold;
}


img {
    display: block;
    max-width: 100%;
	background-color: #666;
  }
  
header img {
    max-width: 80px;
    height: auto;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
  }

  .container img {
    max-width: 100%;
    height: auto;
  }

  .bibliography {
    background-color: #f9f9f9;
    padding: 20px;
  }

  h1 {
    text-align: center;
    margin-top: 40px;
    color: #333;
  }

  h2 {
    color: #333;
  }

  .container {
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
  }
  .image {
    flex: 1;
    background-image: url("img/tratamento-de-manchas-e-melasma-no-rosto-clinica-evo.webp");
    background-size: cover;
    background-position: inherit;
  }
  .content {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: red;
    flex-wrap: nowrap;
    margin-left: 58px;
    align-items: flex-start;
  }
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.5rem;
    text-align: center;
    max-width: 30ch;
  }