body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    font-size: 28px;
    padding: 10px 110px;
}

.intro {
    background:  url('img/photo-15.avif') no-repeat center center;
    background-size: cover;
    padding: 150px 0px; 
    text-align: center;
    color: #f06767;
    margin-bottom: 10px;
}

.intro h1 {

    text-transform: uppercase;
    font-size: 3em;
}

.intro h1::after{
    content: '';
    display: block;
    width: 420px;
    height: 2px;
    background: #ff004c;
    margin: 10px auto;
}

.intro p {
    font-style: arial;
    font-size: 1.145em;
    font: bold;
}


img {
    display: block;
    max-width: 100%;
  }
  
header img {
    max-width: 80px;
    height: auto;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 10px;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.gallery img {
    max-width: 600px;
    height: auto;
    border-radius: 5%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

