body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

header {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    font-size: 28px;
    padding: 10px 110px;
}

.container{
	margin: auto;
	display: block;
}

.intro {
    background:  url('../img/photo-15.avif') no-repeat center center;
    background-size: cover;
    padding: 150px 0px; 
    text-align: center;
    color: #f06767;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .cabeca{
       padding: 5px 2px 5px 2px;
       font-size: 18px;
      
    }
    .add-to-cart-btn{
      margin-left: 9px;
    }
    #btn-ps{
        margin-left: 2px;
    }
    .intro h1::after{
        background: white;
        margin: 30px 20px;
    }
}
.intro h1 {

    text-transform: uppercase;
    font-size: 3em;
}

.intro h1::after{
    content: '';
    display: block;
    width: 307px;
    height: 2px;
    background: #ff004c;
    margin: 10px auto;
}


.intro p {
    font-style: arial;
    font-size: 1.145em;
    font: bold;
    color: #f06767;
}


img {
    display: block;
    max-width: 100%;
	background-color: #666;
  }
  
header img {
    max-width: 80px;
    height: auto;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 10px;
}
.menu-nav:hover {
  background-color: transparent;
  border: 1px solid #f9004d;
  cursor: pointer;
  color: #f9004d;
}

.product-container {
    display: flex;
    justify-content: space-around;
    margin: 50px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-details {
    flex: 1;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.038);;
    
}

@media (max-width:768px){
    .product-details{
        padding: 20px;
        max-width: 60ch;
    }
}

.price {
    font-size: 22px;
    font-weight: bold;
    color: #f9004d;
}

p{
    color: black;
    font-size: 220;
    margin:40px 0px;
}
.sp{
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-bottom: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ponto{
    color: #f9004d;
    font-size: 20px;
    padding-right: 10px;
}
.add-to-cart-btn {
    background-color: #f9004d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 10px;
}
.add-to-cart-btn:hover {
    background-color: transparent;
    color: #f9004d;
    border: 2px solid #f9004d;
    cursor: pointer;
  }
.product-description {
    flex: 1;
    padding: 20px;
    max-width: 60ch;
    background-color: rgba(0, 0, 0, 0.034);
}

.product-description h2{
    margin: 0px;
}
.product-description h3{
    margin: 20px 0px 0px 0px;
}
.product-description p{
   margin: 20px 0px 20px 0px;
}
h2 {
    margin-top: 0;
}

/* Responsividade */
@media (max-width: 768px) {
    .product-container {
        flex-direction: column;
        align-items: center;
    }
}

.product-gallery {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 15px;
}

@media (max-width:768px){
    .product-gallery{
        flex-direction: column;
        align-items: center;
    }
}

.main-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.thumbnail-images {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

@media (max-width:768px){
    .thumbnail-images{
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
        flex-direction: row;
    }
}

.thumbnail {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #ddd;
}

/* Responsividade */
@media (max-width: 768px) {
    .product-container {
        flex-direction: column;
        align-items: center;
    }
}


.coluna {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.coluna p {
    max-width: 86ch;
    margin: 10px 0;
}

.coluna h3 {
    margin: auto;
}

  .button {
    background-color: #007BFF;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .coluna p {
        max-width: 32ch;
    }
  }

  .content {
    display: none;
  }


.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 75px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 66px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color: #ff004c88;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #666;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  rgb(9, 212, 248);
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

.localization{
	display: flex;
	align-items: center;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}